---
import { getCollection } from "astro:content";
import Link from "@/components/shared/Link.astro";
import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import PostCard from "@/components/PostCard.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";


const posts = await getCollection("posts");
---

<Layout>
  <main class="flex flex-col gap-20 justify-center items-center">
    <h1 class="text-3xl text-neutral-100">{presentation.title}</h1>
    <article class="flex flex-col gap-8 margin-auto justify-center items-center">
      <img class="w-20 md:w-90 lg:w-87" src="/Izzy.github.io/izzy.jpg" alt="Image of Izzy Irvine">
 
      
      <h2
        class="max-w-[60ch] leading-6"
        set:html={convertAsteriskToStrongTag(presentation.description)}
      />
  
    </article>
    <article class="flex flex-col gap-8">
      <section class="flex flex-col gap-4 md:flex-row md:flex-wrap">
        {
          posts.length !== 0 &&
            posts
              .slice(0, 2)
              .map((post) => (
                <PostCard
                  title={post.data.title}
                  description={post.data.description}
                  slug={post.slug}
                />
              ))
        }
      </section>
    </article>
    <article class="flex flex-col gap-8 flex justify-center items-center">
      <header class="flex w-full flex-row justify-between gap-2 flex justify-center items-center">
        
        <h1 class="color-pink border-width: 2px; border-gray-600 font-size: 2.25rem;
        line-height: 2.5rem; text-neutral-100 text-lg;">
      
       Find my Github and LinkedIn below:</h1>
      </header>


      <SocialLinks />
    </article>
   
    <a href="/Portfolio.github.io/izzy.jpg" download><button  class="absolute bottom-0 right-10 opacity-10">virus.exe</button></a>

  </main>
</Layout>
