---
import Link from "./shared/Link.astro";
import presentation from "@/data/presentation";
---

<ul role="list" class="flex flex-row gap-2 text-lg margin-400">
  { presentation.socials.map((social, index) => (
      <>
        <li class="flex flex justify-center items-center">
          <Link class="h-8 w-8 justify-center items-center" href={social.link} label={social.label} image={social.image} /><a href={social.link}> <img src={social.image} class="h-8 w-8 justify-center items-center"></a>
        </li>

        {presentation.socials.length - 1 !== index && <li>/</li>}
      </>
    ))}
   
      
</ul>
